<!-- your html code here -->
<div class="container-fluid bg-light">
    <div class="row m-5 p-5">
        <div class="col">
            <h1>Portfolio</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quibusdam officia neque, modi impedit amet doloremque, commodi voluptatibus autem veniam quas qui ea maiores fugiat unde delectus provident quo accusamus!</p>
        </div>
    </div>
    <div class="row m-5 p-5">
        <div class="col">
            <img src="https://picsum.photos/700/400?random=1" class="img-fluid" alt="...">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates error odit atque veritatis velit molestiae blanditiis laudantium expedita voluptatibus dicta ratione nisi, laboriosam sequi quibusdam amet, culpa, pariatur nostrum qui.</p>
        </div>
        <div class="col">
            <img src="https://picsum.photos/700/400?random=2" class="img-fluid" alt="...">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem soluta est, nam ducimus minus, qui, numquam delectus maxime quidem provident quibusdam placeat veniam. Incidunt, iusto dolore. Nemo quia voluptatum ratione!</p>
        </div>
        <div class="col">
            <img src="https://picsum.photos/700/400?random=3" class="img-fluid" alt="...">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt, ratione nam deleniti repellendus nulla, totam et quaerat delectus autem dolorem quisquam corporis inventore non blanditiis ipsa tempore doloribus fugiat molestiae.</p>
        </div>
    </div>
</div>